.matches {
}

.matches p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 30px;
}

.matches p .team {
  width: 30px;
}

.matches p .vs {
  padding: 0 0;
}

.react-numeric-input input {
  width: 100px;
  height: 30px;
  font-size: 20px;
}
