section.scenario {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

p.scenario {
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

p.currentScenario {
  font-size: 70px;
}

p.scenario p {
  margin: 5px;
}

p.currentScenario .legend {
  font-size: 30px;
}

p.potentialScenario {
  font-size: 30px;
}

p.alternative {
  font-size: 20px;
}

p.separator {
  font-size: 10px;
}

@media (max-width: 800px) {
  p.currentScenario {
    font-size: 40px;
  }
  p.currentScenario .legend {
    font-size: 20px;
  }
  p.potentialScenario {
    font-size: 20px;
  }
  p.alternative {
    font-size: 15px;
  }
  p.separator {
    font-size: 8px;
  }
}
