.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .App {
    flex-direction: column;
  }
}

.App section {
  padding-top: 20px;
  box-shadow: 2px 3px 15px grey;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
